---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---

<footer>
  <p>
    Learn more about my projects on <a href={`https://www.github.com/zd2002`}
      >github</a
    >!
  </p>
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>
